.wrapper {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 358px;
    /* border: 1px solid blue; */
}

.header_wrapper {
    display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  
}

.header_wrapper > h1 {
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 28px;

    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    margin-bottom: 0px;
}

.header_wrapper > p {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 16px;
    color: #5c5c5c;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    margin-top: 7px;
}

.main_wrapper {
    /* border: 1px solid blue; */
    margin-top: 10px;
    
}

.info_wrapper {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.info_wrapper > input {
    box-sizing: border-box;
    width: 358px;
    height: 51px;
    border-radius: 5px;
    
    padding: 15px 16px;

    margin: 5px auto;
    border: 1px solid rgba(230, 230, 230, 1);
    
    background: rgba(253, 253, 253, 1);
    caret-color: rgba(255, 38, 85, 1);

    && :focus {
        border: 1px solid rgba(92, 92, 92, 1)

    }
}

.check_wrapper {
    margin-top: 5px;
    padding: auto 5px;
    display: flex;
    position: relative;
    /* border: 1px solid red; */
}

.login_checkbox {
    width: 16px;
    height: 16px;
    accent-color: rgba(255, 38, 85, 1);
}

.label_box {
    position: relative;
    
}

.check_text {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 14px;

    color: rgba(129, 129, 129, 1);
    position: relative;
    padding-left: 5px;
    bottom: 5px;
    
}

.login_buttons_wrapper {
    margin-top: 57px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /*border: 1px solid blue;*/
}

.login_buttons_wrapper > button {
    border: 1px solid rgba(255, 38, 85, 0.3);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 38, 85, 1);
    border-radius: 50px;
    padding: 12px 32px;
    font-family: "Pretendard";
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 120px;
}

.login_buttons_wrapper > button:hover {
    background-color: rgba(255, 38, 85, 0.05);
    border-color: rgba(255, 38, 85, 0.5);
    transform: translateY(-1px);
}

.login_buttons_wrapper > button:active {
    transform: translateY(0);
    background-color: rgba(255, 38, 85, 0.1);
}

.footer_wrapper {
    position: absolute;
    bottom: 34px;
}

.footer_wrapper > button {
    box-sizing: border-box;
    width: 358px;
    height: 56px;
    border-radius: 6px;
    padding: 17px 147px;
    gap: 10px;

    border: none;
    

    font-family: "Pretendard";
    font-size: 18px;
    font-weight: 500;
}

.ach_login_button {
    background-color: rgba(240, 240, 240, 1);
    color: rgba(199, 199, 199, 1);
}

.rej_login_button {
    background-color: rgba(255, 38, 85, 1);
    color: white;
}